@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


html {
  scroll-behavior: smooth;
}

body{ background: linear-gradient(to right, 
  #050505, 
  #0f0f1e, 
  #1e1b4b
);
;
}


#cursor > div:first-child {
  transition: transform 0.25s ease, border-color 0.3s ease;
}



/* Make Inter the default font for the whole site */
@layer base {
  html, body {
    font-family: 'Inter', system-ui, sans-serif;
  }
}